	<style>	
		table, th, td {
			border: 1px solid blue;
			border-collapse: collapse;
			vertical-align: middle;
		}
		th, td {
			padding: 5px;
		}
		tr:nth-child(even) {
			background-color: #eeeeff
		}
		td {
			max-width: 350px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.tdd {
			max-width: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}	
		.image-upload > input {
			display: none;
		}
		/*.updImg {
			display: block;
			margin: auto;
			align: left;*/
		}
		.tdimg {
			width: 15px;
			max-width: 15px;
			width-max: 15px;
		}
		.thimg {
			width: 15px;
			max-width: 15px;
			width-max: 15px;
		}
		.meh {
			display: inline-block;
		}
	</style>
<div class="list-link"><%= link_to image_tag("dark_icons/view_listw.png", :width=>"24", :class=>"link-img"), msubtitles_path %> </div>
<div class="back-link"><%= link_to image_tag("dark_icons/undow.png", :width=>"24", :class=>"link-img"), :back %></div>
<h1>Subtitles <%= link_to image_tag("dark_icons/plus_1.png", :width=>"20", :height=>"20"), new_msubtitle_path %>	</h1>
<div class="import">
	<%= form_tag import_msubtitles_path, multipart: true do %>
	<%= file_field_tag :file, :class => "file-browser"  %>
		<input type="submit" value="Import" class="button">
		
	<% end %></div>

<table>
    <tr bgcolor="#aaaaff">
      <th>ID</th>
      <th>Subtitle</th>
      <th>Notes</th>
      <th>Pts</th>
    </tr>

    <% @msubtitles.each do |msubtitle| %>
      <tr>
        <td><%= msubtitle.id %></td>
        <td><%= link_to msubtitle.msubtitle, msubtitle_path(msubtitle) %></td>
        <td><%= msubtitle.notes %></td>
		<td><% if msubtitle.movies.any? %>
					<%= msubtitle.movies.count %>
			<% else %> 0
			<% end %> </td>		
		<td class="tdimg"><%=link_to image_tag("dark_icons/tools_1.png", :width=>"13", :height=>"13"), edit_msubtitle_path(msubtitle) %></td>
      </tr>
    <% end %>
</table>
<%= will_paginate @msubtitles %>
